<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!--NLog一定要有的两个子节点 targets 和 rules-->
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

    <target xsi:type=""/>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  
  <!--
  Rules
Log routing rules are defined in the <rules /> section. It is a simple routing table, where we define the list of targets that should be written to for each combination of source/logger name and log level. Rules are processed starting with the first rule in the list. When a rule matches, log messages are directed to target(s) in that rule. If a rule is marked as final, rules below it are not processed.
Each routing table entry is a <logger /> element, which accepts the following attributes:

name – source/logger name (may include wildcard characters *)
minlevel – minimal log level for this rule to match
maxlevel – maximum log level for this rule to match
level – single log level for this rule to match
levels - comma separated list of log levels for this rule to match
writeTo – comma separated list of target that should be written to when this rule matches.
final – make this rule final. No further rules are processed when any final rule matches.
enabled - setting enabled to false allows to disable this rule. Disabled rules are ignored.

loglevel
由上到下
Level	Example
Fatal	Highest level: important stuff down
Error	For example application crashes / exceptions.
Warn	Incorrect behavior but the application can continue
Info	Normal behavior like mail sent, user updated profile etc.
Debug	Executed queries, user authenticated, session expired
Trace	Begin method X, end method X etc

  -->
  <!--规则-->
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>

 <!--包含
 可以包含外部配置文件，相当于在内部设置的一样-->
  <include file="${basedir}/${machinename}.config"/>

  <!--变量
  设置变量后，就可以使用类似${var}来作为占位符了-->
  <variable name="var" value="xxx" />


</nlog>